---
import BackLink from '../components/link-back.astro';
import Page from '../layouts/page.astro';

const links: { href: string; text: string; priv?: boolean }[] = [
  // { href: '', text: '' },
  {
    href: 'https://www.youtube.com/watch?v=WtP5UCcwphw&ab_channel=NetSec',
    text: 'Get Free Microsoft 365 E5 Developer Subscription with Your Own Domain Name',
    hide: true,
  },
  {
    href: 'https://mediadoma.com/ultimate-docker-home-server-s-traefik-2-le-i-oauth-authelia-2020',
    text: 'Ultimate Docker Home Server with Traefik 2, LE and OAuth/Authelia [2020]',
    hide: true,
  },
  {
    href: 'https://hollo.me/devops/routing-to-multiple-docker-compose-development-setups-with-traefik.html',
    text: 'Routing to multiple docker-compose setups using traefik',
    hide: true,
  },
  {
    href: 'https://www.overflowedminds.net/writings/a-monorepo-of-django-postgresql-traefik-docker-compose-and',
    text: 'A Monorepo of Django, PostgreSQL Traefik, Docker Compose and React served via S3',
  },
  { href: 'https://antfu.me/posts/why-not-prettier', text: "Why I don't use Prettier" },
  {
    href: 'https://www.youtube.com/watch?v=FCyYIVfDkhY&ab_channel=LucianoRatamero',
    text: 'Django + Vite: The simple way',
  },
  { href: 'https://sergiodxa.com/articles/bubble-up-data-on-remix-routes', text: 'Bubble up data on Remix routes' },
  {
    href: 'https://ogzhanolguncu.com/blog/react-ssr-ssg-from-scratch#building-the-ssr',
    text: 'Build Your Own SSR/SSG From Scratch with Vite and React',
  },
  {
    href: 'https://www.wking.dev/library/dont-design-your-database-like-a-frontend-developer',
    text: "Don't design your database like a frontend developer",
  },
  {
    href: 'https://www.wking.dev/library/how-to-add-a-check-constraint-in-prisma',
    text: 'How to add a check constraint in Prisma',
  },
  {
    href: 'https://www.wking.dev/library/how-to-manually-set-table-names-in-prisma-and-why-you-should',
    text: 'How to manually set table names in Prisma and why you should',
  },
  {
    href: 'https://gist.github.com/kiliman/a9d7c874af03369a1d105a92560d89e9',
    text: 'How to debug your server-side Remix code using VSCode',
  },
  {
    href: 'https://www.simeongriggs.dev/components-considered-harmful-for-content',
    text: 'Prioritise content over components',
  },
].filter((l) => (process.env.NODE_ENV === 'production' ? !l.hide : true));

const tools = [
  { href: 'https://metatags.io/', label: 'Meta tags' },
  { href: 'https://www.opengraph.xyz/', label: 'Open Graph' },
  { href: 'https://showcode.app/', label: 'Show code' },
  { label: 'ssllabs', href: 'https://www.ssllabs.com/ssltest/' },
  { href: 'https://developers.facebook.com/tools/debug/', label: 'Facebook debug tools' },
  {
    href: 'https://whatsmychaincert.com',
    label: "What's My Chain Cert?",
    text: 'Check and fix SSL certificate chain issues',
  },
];
---

<Page title="Bookmarks">
  <main class="mx-auto max-w-[65ch] px-7 py-10 mb-8">
    <header class="mb-3">
      <h1>Bookmarks</h1>
      <BackLink href="/blog" text="Back to blog" />
    </header>

    <section class="my-5">
      <h2>Debug Tools</h2>
      <ul>
        {
          tools.map((t) => (
            <li>
              <a href={t.href} class="text-slate-500" target="_blank" rel="nofollow noreferer">
                {t.label}
                {t.text && ` - ${t.text}`}
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <h2>Articles</h2>

    <ul>
      {
        links.map((l) => (
          <li>
            <a href={l.href} class="text-slate-500" target="_blank" rel="nofollow noreferer">
              {l.text}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Page>
